THESE ARE SOME ROCKS

<% @rocks.each do |rock|%>
    <div>
        <div><%= rock.title %></div>
        <div><%= rock.description%></div>
        <div><%= rock.user.email%></div>
        <%= image_tag rock.image.url(:thumbnail) %>
    </div>
<% end %>